{% extends 'fproject/layout.html' %}
{% block body %} 
    <h2>Friends</h2>
    <div class="container-fluid">
        {% for i in user.friends.all %}
        <div class="row mb-2">
            <div class="col-4 col-sm-2 py-2 border"><strong>{{ i.username }}</strong></div>
            <div class="col-5 col-sm-auto py-2 border">
                <form style="display: inline" action="{% url 'chat' i.username %}" method="get">
                    <button class="btn btn-primary">Start Chat</button>
                </form>
            </div>
            <div class="col-3 col-sm-auto py-2 border">
                <form action="{% url 'friends' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="reason" value="unfriend">
                    <input type="hidden" name="target" value="{{ i.id }}">
                    <button type="submit" class="btn btn-secondary">Unfriend</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--<ul class="list-group">
    {% for i in user.friends.all %}
        <li class="list-group-item userlist"><strong>{{ i.username }}</strong>
            <a href="#"></a><button class="btn btn-primary">Start Chat</button></a>
            <form action="{% url 'friends' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="reason" value="unfriend">
                <input type="hidden" name="target" value="{{ i.id }}">
                <button type="submit" class="btn btn-secondary">Unfriend</button>
            </form>
        </li>
    {% empty %}
        <li class="list-group-item userlist">No Friends ;(</li>
    {% endfor %}
    </ul>-->
{% endblock %}