{% extends 'fproject/layout.html' %}
{% block body %} 
    <h2>Notifications</h2>
    <ul class="list-group">
    {% for i in reqs %}
        <li class="list-group-item userlist"><strong>{{ i.requestor.username }}</strong>
            <form action="{% url 'friends' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="reason" value="accept">
                <input type="hidden" name="target" value="{{ i.requestor.id }}">
                <button type="submit" class="btn btn-secondary">Accept request</button>
            </form>
        </li>
    {% empty %}
    <li class="list-group-item">No new Notifications</li>
    {% endfor %}
    </ul>
{% endblock %}